.multi-select .dropdown-container {
    border-color: $border !important ;
    border: 1px solid $white-2;
  }
  .multiSelectContainer {
    text-align: right;
  }
  .multiSelectContainer {
    .optionContainer {
      border: 1px solid $white-2 !important;
    }
    .searchWrapper {
      border: 1px solid $white-2 !important;
    }
  }
  .multi-select .dropdown-container {
    background: transparent;
    border: 1px solid $white-2 !important;
  }